################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/T8LApplication1
/.vs/T8Api/FileContentIndex/3c9bed82-8f68-49a5-9131-8196779a776e.vsidx
